.searchInput {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Чтобы padding не увеличивал ширину элемента */
}

.searchInput:focus {
  outline: none;
  border-color: blue;
}
